[data-radix-popper-content-wrapper] {
  transform: none !important;
}

.table-header-gap,
.table-body-gap {
  display: grid;
  gap: 10px;
}

.table-cell-gap {
  padding: 16px;
  background-color: white;
}

.table-gap {
  background-color: #f2f2f2;
  border: none
}

.submenu-container {
  position: absolute;
  background-color: rgba(108, 120, 143, 0.6);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(108, 120, 143, 0.6);
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

